:root {
  --hva-main-theme: rgb(39, 58, 96);
  --hva-selection-color: rgb(253, 253, 150)
}

body {
  background-color: var(--hva-main-theme) !important;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-container {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 3rem 1rem 3rem;
  margin-bottom: 1rem;
}

.big-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 50%;
}

.child-div {
  width: 30%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0px 4px 6px -2px rgba(0, 0, 0, 0.05);  
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-entry {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
  margin-right: 5rem;
  align-items: center;
}

.input-field-creation-text {
  margin: 1rem;
}

.mark-as-completed, .check-box-completed {
  margin-left: 2rem;
}

#display-list {
  width: 60%;
  height: 100%;
  overflow: auto;
}

#todo-creation, #new-div {
  height: 50%;
}

.display-list-descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.button-create-todo {
  background-color: var(--hva-main-theme) !important;
  border-color: var(--hva-selection-color) !important;
  margin: 1rem;
}

.button-create-todo:hover {
  background-color: var(--hva-selection-color) !important;
  color: black !important;
}

/*
.filter-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 2rem;
}

.filter-button ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
}

.filter-button:hover ul {
  display: block;
  cursor: pointer;
}

.filter-button ul li {
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.filter-button ul li:hover {
  background-color: var(--hva-selection-color);
  border: 1px solid var(--hva-main-theme);
}

*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

ol, ul {
  padding-left: 0rem !important;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: grey;
  opacity: 90%;
}

nav {
  display: flex;
  justify-content: center;
}

.todo-text {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-text:hover {
  background-color: lightgray;
  border-radius: 1rem;
}

.todo-text-wrapper {
  display: flex;
  align-items: center;
}

.edit-icon {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.delete-icon {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.delete-icon:hover {
  cursor: pointer;
}
