body {
  background-color: rgb(39, 58, 96);
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.big-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 50%;
}

.child-div {
  width: 30%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0px 4px 6px -2px rgba(0, 0, 0, 0.05);  
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#display-list {
  width: 60%;
  height: 100%;
  overflow: auto;
}

#todo-creation, #new-div {
  height: 50%;
}
